$font_primary: "Nunito", sans-serif;
$sidebar_width: 260px;
$heading_height: 70px;

// ===== Colors
$primary_color: #727cf5;
$primary_hover_color: #6973e3;
$secondary_color: #8a969c;
$secondary_hover_color: #656e72;
$text_color: #6c757d;
$black: #000000;
$white: #ffffff;
$border_color: #dee2e6;
$sidebar_bg: #313a46;
$body_bg: #fafbfe;
$menu_text_color: #8391a2;
$menu_text_hover_color: #bccee4;
$green: #0acf97;
$red: #fa5c7c;
// ===== Colors End

// ===== Font Size
$font10: 10px;
$font12: 12px;
$font14: 14px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font24: 24px;
$font28: 28px;
// ===== Font Size End
